.user-textarea {
    background-color: #D1E7DD !important;
    border: 1px solid #CED4DA !important;
    border-radius: 0.25rem !important;
    padding: 0.375rem 0.75rem !important;
}

.chatbot-textarea {
    background-color: #F8D7DA !important;
    border: 1px solid #F5C2C7 !important;
    border-radius: 0.25rem !important;
    padding: 0.375rem 0.75rem !important;
}
.withScreencast
{
    background-color: #0f0f0f !important;
}
